
.paper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .root .MuiTextField-root {
    margin: 20px;
  }
  .avatar {
    margin:  20px;
  }
  .submit {
    margin:  20px;
  }
  .googleButton {
    margin-bottom:  20px;
  }
  