.modal_container{
    top: 5%;
    transform: 'translate(-50%, -50%)' !important;
    background-color: var(--secondary_bg) !important;
    border-radius: 10px;
    height: 85%;
    display: flex;
  }
