.AdsComp_container{
    background-color: var(--secondary_bg);
    color: white;
    width: 100%;
    height: 50vh;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.AdsComp_container h6{
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0px;
}
.AdsComp_photo{
    width: 100%;
    height: 150px;
}
.AdsComp_photo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;

}
.AdsComp_brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
.AdsComp_brand h6{
    flex: 1; 
}
.AdsComp_brand span{
    color: rgba(255, 255, 255, 0.8); 
}
.AdsComp_container p{
    font-size: 12px;
    text-align: justify;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.6);
}